[Unit]
Description=Rendermatic Graphics Application
After=data-mount.service avahi-daemon.service
Wants=avahi-daemon.service
Requires=data-mount.service

[Service]
Type=simple
WorkingDirectory=/rendermatic
ExecStartPre=/bin/sh -c 'test -e /dev/fb0'
ExecStart=/rendermatic/rendermatic
Restart=on-failure
RestartSec=2
StandardOutput=append:/data/logs/rendermatic.log
StandardError=append:/data/logs/rendermatic.log

[Install]
WantedBy=multi-user.target
